<link rel="icon" type="image/png" href="{{ get_url(path='img/favicon-light.png') }}" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" href="{{ get_url(path='img/favicon-light.png') }}" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" href="{{ get_url(path='img/favicon-dark.png') }}" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" href="{{ get_url(path='img/favicon-dark.png') }}" media="(prefers-color-scheme: dark)">

<style>
  .section-title h1 {
    margin-bottom: 1em;
    font-size: unset;
    font-weight: unset;
  }
  .section-title p {
    font-size: unset;
  }
  .prose pre code {
    display: inline-block;
    min-width: 100%;
  }
</style>
